<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Maintenance Note</title>
  </head>
  <body>
    {{> header}}
    <p>The site is currently under maintenance.</p>
    {{> footer}}
  </body>
</html>
